body
  background: antiquewhite
.App
  max-width: 800px
  margin: 0 auto
  border: 1px solid pink
.app-nav
  margin: 20px
  padding: 10px
  border-bottom: 2px solid #508fca
  ul
    padding: 0
    margin: 0
    display: flex
    li.app-nav-item
      list-style: none
      margin-right: 30px
      font-size: 24px
      border-bottom: 4px solid transparent
      a
        text-decoration: none
.app-content
  margin: 0 20px
